# LLM Provider Configuration
LLM_PROVIDER=openrouter

# Model selection
LLM_MODEL=deepseek/deepseek-chat

# Global timeout for LLM API requests
LLM_TIMEOUT_SECONDS=120

# -----------------------------------------------------
# OpenRouter Config
# -----------------------------------------------------
LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_API_KEY=sk-or-v1-your-openrouter-key-here
